<h1>Users</h1>
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only" id="loading">Loading...</span>
    </div>
</div>
<table class="table" id='tab'>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">occupation</th>
            <th scope="col">Email</th>
            <th scope="col">Bio</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.occupation }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.bio }}</td>
            <td> <button (click)="userDetails(user.id)" class='btn btn-info' data-toggle="modal"
                    data-target="#myModal">Details</button> </td>
        </tr>
    </tbody>
</table>
