<div>

  <div>
      Welcome to the {{ title }} app!
  </div>

  <div>
    Here you will be able to:<br>

    <ul>
      <li>View and Edit Dog Breeds</li>
      <li>Rate your favorites</li>
      <li>Contact Veterinarians</li>
    </ul>


  </div>

</div>
<!-- <mat-slider min="1" max="100" step="1" value="1" style="width:600px;"></mat-slider> -->
