<p>login-form works!</p>

<form [formGroup]="loginForm" id="loginForm">
  <div>
    <input formControlName="username" placeholder="Username" required />
  </div>
  <div>
    <input formControlName="password" placeholder="Password" type="password" />
  </div>
</form>
