<h2>Dog Breeds</h2>
<ul class="breeds">
  <li *ngFor="let breed of breeds">
    <span class="badge">{{breed.id}}</span> {{breed.name}}
  </li>
</ul>

<!-- <div>
  <ngx-datatable
    class="bootstrap"
    [rows]="breeds$ | async"
    [columns]="columns"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [selectionType]="'button'"
  >

  <ngx-datatable-column name="ID" prop="id" width="75"></ngx-datatable-column>
  <ngx-datatable-column name="Name" prop="name" width="200"></ngx-datatable-column>
  <ngx-datatable-column name="About" prop="about" width="600"></ngx-datatable-column>
  <ngx-datatable-column name="Status" prop="status" width="75"></ngx-datatable-column>
  <ngx-datatable-column name="" prop="id" width="150" [sortable]="false">
    <ng-template let-breed="row" ngx-datatable-cell-template>
      <button btn mat-raised-button color="link" (click)="onSelect(breed)">Edit</button>
    </ng-template>
  </ngx-datatable-column>

  </ngx-datatable>
</div> -->
