<h2 mat-dialog-title>Edit {{data.name}}</h2>

<mat-dialog-content>
  <p>ID: {{data.id}}</p>
  <p>Name: {{data.name}}</p>
  <dl>
    <dt>About:</dt>
    <dd>
      {{data.about}}
    </dd>
  </dl>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
