<mat-card [arsenalSpinnerOverlay]="!!(loading$ | async)">
  <mat-card-header>
    <mat-card-title>
      Consumers: <i>{{ (consumer$ | async)?.name }}</i>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group arsenalRoutedTabset *ngIf="consumer$ | async as consumer">
      <mat-tab label="Details">
        <ironsky-consumer-details
          [consumer]="consumer"
        ></ironsky-consumer-details>
      </mat-tab>
      <mat-tab label="Views">
        <ng-template matTabContent>
          <ironsky-consumer-views
            [consumer]="consumer"
          ></ironsky-consumer-views>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
